<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.murbin">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.TIC" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_murbin"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_murbin_round"
        android:supportsRtl="false"
        android:theme="@style/Theme.Murbin">

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_api_key" />

        <!-- Services -->
        <service android:name=".services.GpsTrackerService" />
        <service android:name=".services.BackgroundMusicService" />
        <service android:name=".services.StreetlightWarningService" />

        <!-- Receivers -->
        <receiver android:name=".receivers.WarningReceiver">
            <intent-filter>
                <action android:name="android.intent.action.ACTION_TIME_TICK" />
            </intent-filter>
        </receiver>

        <!-- Zone General (No need identification) -->
        <activity
            android:name=".presentation.zone.general.SplashActivity"
            android:screenOrientation="portrait">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".presentation.zone.general.GeneralMainActivity"
            android:screenOrientation="portrait" />

        <!-- LOGIN -->

        <activity
            android:name=".presentation.auth.AuthEmailActivity"
            android:parentActivityName=".presentation.zone.general.GeneralMainActivity"
            android:screenOrientation="portrait" />

        <!-- ZONE GLOBAL -->

        <activity
            android:name=".presentation.global.GlobalPreferencesActivity"
            android:screenOrientation="portrait" />

        <!-- Needs identification and roles "root", "administrator" or "technician" -->
        <activity
            android:name=".presentation.profiles.ProfileActivity"
            android:screenOrientation="portrait" />

        <!-- ZONE ADMINISTRATOR -->

        <!-- Needs identification and roles "root" or "administrator" -->
        <activity
            android:name=".presentation.zone.administrator.AdministratorMainActivity"
            android:screenOrientation="portrait" />

        <!-- CRUD TECHNICIANS -->
        <activity
            android:name=".presentation.zone.administrator.AdministratorTechnicianListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.zone.administrator.AdministratorTechnicianEditActivity"
            android:parentActivityName=".presentation.zone.administrator.AdministratorTechnicianListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.zone.administrator.AdministratorTechnicianCreateActivity"
            android:parentActivityName=".presentation.zone.administrator.AdministratorTechnicianListActivity"
            android:screenOrientation="portrait" />

        <!-- CRUD SUBZONES -->
        <activity
            android:name=".presentation.zone.administrator.AdministratorSubzoneListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.zone.administrator.AdministratorSubzoneEditActivity"
            android:parentActivityName=".presentation.zone.administrator.AdministratorSubzoneListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.zone.administrator.AdministratorSubzoneCreateActivity"
            android:parentActivityName=".presentation.zone.administrator.AdministratorSubzoneListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.zone.administrator.AdministratorSubzoneSelectActivity"
            android:screenOrientation="portrait" />

        <!-- CRUD ADMINISTRATORS -->
        <activity
            android:name=".presentation.zone.administrator.RootAdministratorListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.zone.administrator.RootAdministratorEditActivity"
            android:parentActivityName=".presentation.zone.administrator.RootAdministratorListActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.zone.administrator.RootAdministratorCreateActivity"
            android:parentActivityName=".presentation.zone.administrator.RootAdministratorListActivity"
            android:screenOrientation="portrait" />

        <!-- ZONE TECHNICIAN -->

        <!-- Needs identification and role "technician" -->
        <activity
            android:name=".presentation.zone.technician.TechnicianMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.zone.technician.TechnicianSubzoneActivity"
            android:parentActivityName=".presentation.zone.technician.TechnicianMainActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.zone.technician.TechnicianStreetlightsActivity"
            android:screenOrientation="portrait" />
        <!--android:parentActivityName=".presentation.zone.technician.TechnicianSubzoneActivity"-->

        <activity
            android:name=".presentation.zone.technician.TechnicianStreetlightCreateActivity"
            android:parentActivityName=".presentation.zone.technician.TechnicianStreetlightsActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".presentation.zone.technician.TechnicianStreetlightEditActivity"
            android:parentActivityName=".presentation.zone.technician.TechnicianStreetlightsActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>